section#sales_story.sales-story
  .sales-story__container.container
    h2.sales-story__title.title True B2B Sales Story
    .sales-story__wrapper
      .sales-story__block
        .sales-story__image
          img(src="../components/SalesStory/images/image-1.svg")
        .sales-story__sidebar
          .sales-story__number 01
          .sales-story__text Once there lived a SuperCat who dreamt of becoming the best salesperson in the world. He saw himself an ideal partner and advisor but couldn’t find the Client. Years went by.
      .sales-story__block
        .sales-story__image
          img(src="../components/SalesStory/images/image-2.svg")
        .sales-story__sidebar
          .sales-story__number 02
          .sales-story__text For days on end, SuperCat was sending out messages on LinkedIn, all in vain. Then, one night, our hero sat at the computer and suddenly a browser blinked as he received a very customized message. It was a proposal to obtain 200 premium client leads. He was intrigued and agreed to jump on call.
      .sales-story__block
        .sales-story__image
          img(src="../components/SalesStory/images/image-3.svg")
        .sales-story__sidebar
          .sales-story__number 03
          .sales-story__text Believe it or not, SuperCat got three clients over the next few weeks. Now he runs Marketing and Outreach Teams and wonders if he should teach his own Sales course, but there’s simply no time for that. He needs to sell, sell, and sell.
